blinker==1.9.0
click==8.1.7
Flask==3.1.0
Flask-Cors==5.0.0
geopandas==1.0.1
graphviz==0.20.3
gunicorn==23.0.0
itsdangerous==2.2.0
joblib==1.4.2
liac-arff==2.5.0
matplotlib==3.9.3
mkl-service==2.4.2
nltk==3.9.1
numpy==2.0.2
pandas==2.2.2
pillow==10.4.0
pyogrio==0.10.0
pyparsing==3.1.4
pyproj==3.6.1
regex==2024.7.24
scikit-learn==1.6.0
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.6
threadpoolctl==3.5.0
tqdm==4.66.5
webencodings==0.5.1
Werkzeug==3.1.3
